{% extends "base.html" %}
{% block content %}
<body>
<div id="error-message"></div>
<div class="container">
    <div class="contact-info">
        <div class="form-group">
            <a href="/data" class="main-menu">Изменить данные</a>
        </div>
        <h3>Выберите канал для рассылки</h3>
        <label for="email">Email</label>
        <input type="radio" id="email" name="channel" value="email">
        <label for="telegram">Telegram</label>
        <input type="radio" id="telegram" name="channel" value="telegram">
        <!--        <label for="instagram">Instagram</label>-->
        <!--        <input type="radio" id="instagram" name="channel" value="instagram">-->
        <!--        <label for="whatsapp">WhatsApp</label>-->
        <!--        <input type="radio" id="whatsapp" name="channel" value="whatsapp">-->
        <label for="sms">Sms</label>
        <input type="radio" id="sms" name="channel" value="sms">
    </div>
    <div class="form-group" id="subject-group">
        <label for="subject">Тема сообщения</label>
        <input type="text" id="subject" name="subject" placeholder="Введите тему сообщения для email">
    </div>
    <div class="form-group">
        <label for="message">Сообщение</label>
        <textarea id="message" name="message" rows="4" placeholder="Введите ваше сообщение"></textarea>
    </div>
    <div class="form-group">
        <label for="datetime">Выберите дату и время</label>
        <input type="datetime-local" id="datetime" name="datetime">
    </div>
    <div class="form-group">
        <input type="file" id="fileInput">
        <button onclick="uploadFile()">Upload</button>
        <h4 id="result"></h4>
    </div>
    <div class="form-group">
        <button type="submit" id="submit">Запустить</button>
    </div>
</div>
</body>
<script>
    // Добавляем placeholder "default" над полями Email и Telegram
    document.getElementById('email').placeholder = 'default';
    document.getElementById('telegram').placeholder = 'default';
</script>
<script>
    // Получаем чекбокс "Email"
    const emailCheckbox = document.getElementById('email');
    // Получаем поле "Тема сообщения"
    const subjectGroup = document.getElementById('subject-group');

    // Добавляем обработчик событий на изменение состояния всех чекбоксов
    document.querySelectorAll('input[type="radio"][name="channel"]').forEach(checkbox => {
        checkbox.addEventListener('change', () => {
            // Если выбран чекбокс "Email"
            if (emailCheckbox.checked) {
                // Показываем поле "Тема сообщения"
                subjectGroup.style.display = 'block';
            } else {
                // Скрываем поле "Тема сообщения"
                subjectGroup.style.display = 'none';
            }
        });
    });
</script>

<script>

    function showMessage(message) {
        const errorMessageElement = document.getElementById('error-message');
        errorMessageElement.textContent = message;

        // Показываем сообщение
        errorMessageElement.style.display = 'block';

        // Задержка в 3 секунды перед удалением сообщения
        setTimeout(function () {
            hideMessage();
        }, 3000);
    }

    function hideMessage() {
        const errorMessageElement = document.getElementById('error-message');
        errorMessageElement.textContent = '';
        errorMessageElement.style.display = 'none';
    }


    async function uploadFile() {
        const fileInput = document.getElementById('fileInput');
        const file = fileInput.files[0];

        if (!file) {
            console.error('No file selected');
            showMessage('No file selected')
            return;
        }

        const formData = new FormData();
        formData.append('file', file);

        try {
            const response = await fetch('receive/upload', {
                method: 'POST',
                body: formData
            });

            if (!response.ok) {
                throw new Error('Error uploading file');
            }

            const data = await response.json(); // Извлекаем JSON из ответа

            const resultElement = document.getElementById('result');
            resultElement.textContent = `Найдено пользователей: ${data}`; // Обновляем содержимое элемента с результатом
        } catch (error) {
            console.error('Error:', error);
            showMessage('Произошла ошибка: ' + error.message);
        }
    }
</script>
<script>
    const currentDateTime = new Date().toISOString().slice(0, 16); // Формат YYYY-MM-DDTHH:MM

    // Устанавливаем минимальное значение для поля выбора даты и времени
    document.getElementById("datetime").min = currentDateTime;

    // Добавляем обработчик события на изменение значения поля
    document.getElementById("datetime").addEventListener("input", function () {
        const selectedDateTime = this.value;

        // Проверяем, если пользователь не указал дату и время
        if (!selectedDateTime) {
            // Устанавливаем выбранную дату и время равной текущей дате и времени
            this.value = currentDateTime;
        }
    });

    document.querySelector('button[type="submit"]').addEventListener('click', async () => {
        // Получаем выбранный канал для рассылки
        const channel = document.querySelector('input[type="radio"][name="channel"]:checked').value;

        // Получаем значение темы сообщения, если канал "Email" выбран
        let subject = '';
        if (channel === 'email') {
            subject = document.getElementById('subject').value;
        }

        // Получаем остальные данные из формы
        const message = document.getElementById('message').value;
        const datetime = document.getElementById('datetime').value;

        // Создаем объект данных для отправки
        const data = {
            channel,
            subject,
            message,
            datetime
        };

        // Отправляем данные на сервер
        showMessage('Рассылка отправлена')
        try {
            const response = await fetch('/receive', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                throw new Error('Network response was not ok');
            }


        } catch (error) {
            console.error('There was an error with the request:', error);
            showMessage('There was an error with the request:', error)
        }
    });
</script>

{% endblock %}


