{% extends "base.html" %}
{% block content %}
<body>
<div id="error-message"></div>
<div class="container">
    <div class="contact-info">
        <div class="form-group">
            <a href="/data" class="main-menu">Изменить данные</a>
        </div>
        <h3>Выберите канал для рассылки</h3>
        <label for="email">Email</label>
        <input type="radio" id="email" name="channel" value="email">
        <label for="telegram">Telegram</label>
        <input type="radio" id="telegram" name="channel" value="telegram">
        <!--        <label for="instagram">Instagram</label>-->
        <!--        <input type="radio" id="instagram" name="channel" value="instagram">-->
        <!--        <label for="whatsapp">WhatsApp</label>-->
        <!--        <input type="radio" id="whatsapp" name="channel" value="whatsapp">-->
        <label for="sms">Sms</label>
        <input type="radio" id="sms" name="channel" value="sms">
    </div>
    <div class="form-group" id="subject-group">
        <label for="subject">Тема сообщения</label>
        <input type="text" id="subject" name="subject" placeholder="Введите тему сообщения для email">
    </div>
    <div class="form-group">
        <label for="message">Сообщение</label>
        <textarea id="message" name="message" rows="4" placeholder="Введите ваше сообщение"></textarea>
    </div>
    <div class="form-group">
        <label for="datetime">Выберите дату и время</label>
        <input type="datetime-local" id="datetime" name="datetime">
    </div>
    <div class="form-group">
        <input type="file" id="fileInput">
        <button onclick="uploadFile()">Upload</button>
        <h4 id="result"></h4>
    </div>
    <div class="form-group">
        <button type="submit" id="submit">Запустить</button>
    </div>
</div>
</body>
<script>
    const emailCheckbox = document.getElementById('email');
    const subjectGroup = document.getElementById('subject-group');

    document.querySelectorAll('input[type="radio"][name="channel"]').forEach(checkbox => {
        checkbox.addEventListener('change', () => {

            if (emailCheckbox.checked) {

                subjectGroup.style.display = 'block';
            } else {

                subjectGroup.style.display = 'none';
            }
        });
    });
</script>

<script>

    function showMessage(message) {
        const errorMessageElement = document.getElementById('error-message');
        errorMessageElement.textContent = message;

        errorMessageElement.style.display = 'block';

        setTimeout(function () {
            hideMessage();
        }, 3000);
    }

    function hideMessage() {
        const errorMessageElement = document.getElementById('error-message');
        errorMessageElement.textContent = '';
        errorMessageElement.style.display = 'none';
    }


    async function uploadFile() {
        const fileInput = document.getElementById('fileInput');
        const file = fileInput.files[0];

        if (!file) {
            console.error('No file selected');
            showMessage('No file selected')
            return;
        }

        const formData = new FormData();
        formData.append('file', file);

        try {
            const response = await fetch('receive/upload', {
                method: 'POST',
                body: formData
            });

            if (!response.ok) {
                throw new Error('Error uploading file');
            }

            const data = await response.json();

            const resultElement = document.getElementById('result');
            resultElement.textContent = `Найдено пользователей: ${data}`;
        } catch (error) {
            console.error('Error:', error);
            showMessage('Произошла ошибка: ' + error.message);
        }
    }
</script>
<script>
    const currentDateTime = new Date().toISOString().slice(0, 16);

    document.getElementById("datetime").min = currentDateTime;

    document.getElementById("datetime").addEventListener("input", function () {
        const selectedDateTime = this.value;

        if (!selectedDateTime) {
            this.value = currentDateTime;
        }
    });

    document.querySelector('button[type="submit"]').addEventListener('click', async () => {
        const channel = document.querySelector('input[type="radio"][name="channel"]:checked').value;

        let subject = '';
        if (channel === 'email') {
            subject = document.getElementById('subject').value;
        }

        const message = document.getElementById('message').value;
        const datetime = document.getElementById('datetime').value;

        const data = {
            channel,
            subject,
            message,
            datetime
        };

        showMessage('В обработке')
        try {
            const response = await fetch('/receive', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                throw new Error('Ошибка HTTP: ' + response.status);
            }

            const responseData = await response.json();
            console.log(responseData);
            showMessage('Данные успешно отправлены');

        } catch (error) {
            console.error('Произошла ошибка:', error);
            showMessage('Произошла ошибка при отправке данных');
        }
    });
</script>

{% endblock %}


