{% extends "base.html" %}

{% block content %}
<div class="form-group">
    <a href="/" class="main-menu" text>Главное меню</a>
</div>
<div class="contact-info">
    <p>Email - {{ user_email }}</p>
<!--    <p>Telegram - {{ user_telegram }}</p>-->
</div>

<div class="contact-info">
    <h3>Редактировать настройки email</h3>
    <div class="form-group inline-form">
        <label for="email">Почта Gmail</label>
        <input type="email" id="email" name="email" placeholder="Введите email">
        <label for="pass">Пароль приложения</label>
        <input type="email" id="pass" name="pass" placeholder="Введите пароль приложения">
        <button id="change-email">Изменить</button>
    </div>
</div>


<script>
    document.getElementById("change-email").addEventListener("click", function () {
        // Получаем значения email и пароля приложения из формы
        const emailValue = document.getElementById("email").value;
        const passValue = document.getElementById("pass").value;

        // Создаем объект с данными для запроса
        const requestData = {
            email: emailValue,
            app_pass: passValue
        };

        // Опции для запроса
        const requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData)
        };

        // Выполняем запрос
        fetch('/receive/res_email', requestOptions)
            .then(response => {
                if (response.ok) {
                    console.log('Запрос выполнен успешно');
                    // Добавьте здесь код для обработки ответа, если нужно
                } else {
                    console.error('Ошибка при выполнении запроса:', response.status);
                }
            })
            .catch(error => {
                console.error('Произошла ошибка:', error);
            });
    });
</script>


{% endblock content %}
